<mat-drawer-container autosize class="sidenav-container">
	<mat-drawer mode="side" class="sidenav">
		<mat-list role="list">
			<mat-list-item role="listitem">Time collection</mat-list-item>
			<mat-list-item role="listitem">Still Life</mat-list-item>
			<mat-list-item role="listitem">Child`s portrait</mat-list-item>
			<mat-list-item role="listitem">Weddings</mat-list-item>
			<mat-list-item role="listitem">Friends</mat-list-item>
			<mat-list-item role="listitem">Non sorted</mat-list-item>
		</mat-list>
	</mat-drawer>

	<div class="sidenav-content">
		<ng-content></ng-content>
	</div>
</mat-drawer-container>
