:host {
	width: 100%;
	height: auto;
	min-height: 0;
	box-sizing: border-box;
	overflow: auto;
	background-color: transparent;
}

//.loader {
//	margin: auto;
//}
//
//.card {
//	margin: 10px;
//}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: auto;
	height: auto;
}
